<div class="mt-4">
    <div class="h3">Up mon an</div>

    <form method="POST" action="store">
        <div class="mb-3">
            <label for="description" class="form-label">Tên</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="name">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">mô tả</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="Description">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">ảnh</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="img">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">slug</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="slug">
        </div>

        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">add food</button>
        </div>
    </form>
</div>