<div class="container rounded bg-white mt-5 mb-5 border">
    <div class="row">
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center py-5">
                <img class="rounded-circle account__avt mb-2" src="http://localhost:3000/img/ductam.JPG">
                <h4>Thanh Luong</h4>
            </div>
        </div>
        <div class="col-md-8">
            <div class="py-5">
                <div class="">
                    <h4>Personal Infomation</h4>
                </div>

                <div class="d-flex align-items-center row border-bottom border-top py-3 mt-3">
                    <h6 class="col-md-3">User name</h6>
                    <span class="col-md-5 text-secondary">Thanh Luong</span>
                    <a href="" class="col-md-4 text-right badge badge-primarys account__change">Update</a>
                </div>

                <div class="d-flex align-items-center row border-bottom py-3">
                    <h6 class="col-md-3">Address</h6>
                    <span class="col-md-5 text-secondary">Tay Ninh, Viet Nam</span>
                    <a href="" class="col-md-4 text-right badge badge-primarys account__change">Update</a>
                </div>

                <div class="d-flex align-items-center row border-bottom py-3">
                    <h6 class="col-md-3">Password</h6>
                    <span class="col-md-5 text-secondary">luong0916214675</span>
                    <a href="" class="col-md-4 text-right badge badge-primarys account__change">Change Password</a>
                </div>

                <div class="d-flex align-items-center row border-bottom py-3">
                    <h6 class="col-md-3">Email</h6>
                    <span class="col-md-5 text-secondary">luong.cao2202@hcmut.edu.vn</span>
                    <a href="" class="col-md-4 text-right badge badge-primarys account__change">Change Email</a>
                </div>

                <div class="d-flex align-items-center row border-bottom py-3">
                    <h6 class="col-md-3">Phone</h6>
                    <span class="col-md-5 text-secondary">0916214675</span>
                    <a href="" class="col-md-4 text-right badge badge-primarys account__change">Change phone</a>
                </div>

                <div class="d-flex align-items-center row border-bottom py-3">
                    <h6 class="col-md-3">Feedback</h6>
                    <a href="" class="col-md-9 text-right badge badge-primarys account__change">Send Feedback</a>
                </div>

                <div class="d-flex align-items-center row border-bottom py-3">
                    <h6 class="col-md-3">History</h6>
                    <a href="" class="col-md-9 text-right badge badge-primarys account__change">See more</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>